
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Book list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Book list</li>
                    </ul>
                </div>
            </div>
        </div>
</div>

<div class="shop-box-inner" >
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                  <option data-display="Select">Nothing</option>
                  <option value="1">Popularity</option>
                  <option value="2">High Price → High Price</option>
                  <option value="3">Low Price → High Price</option>
                  <option value="4">Best Selling</option>
                </select>
                                </div>
                                <div id="count">
                                <p>Showing all {{count}} results</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box" id="products">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                      {{#each books}}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img id="cover" src={{cover}} class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <a href="/books/detail/{{_id}}">
                                                    <h4 class="link" >{{title}}</h4>
                                                    </a>
                                                    <h5>{{basePrice}}</h5>
                                                    <input type="hidden" id="detail" value="{{detail}}">
                                                </div>
                                            </div>
                                          </div>
                                      {{/each}}     
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                  {{#each books}}
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src={{cover}} class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <a href="/books/detail/{{_id}}">
                                                        <h4 class="link" >{{title}}</h4>
                                                    </a>
                                                    <h5>{{basePrice}}</h5>
                                                    <p>{{detail}}</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="books/search" method="get" id="search-form" onsubmit="return formSubmit(this)">
                                <input class="form-control" placeholder="Search here..." type="text" name="keyword">
                                <button type="submit" > <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
<!--                                <div class="list-group-collapse sub-men">-->
<!--                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1"> Tiểu Thuyết <small class="text-muted">(100)</small>-->
<!--                </a>-->
<!--                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">-->
<!--                                        <div class="list-group">-->
<!--                                            <a href="#" class="list-group-item list-group-item-action active">Phiêu lưu <small class="text-muted">(50)</small></a>-->
<!--                                            <a href="#" class="list-group-item list-group-item-action">Giả tưởng <small class="text-muted">(10)</small></a>-->
<!--                                            <a href="#" class="list-group-item list-group-item-action">Tình cảm <small class="text-muted">(10)</small></a>-->
<!--                                            <a href="#" class="list-group-item list-group-item-action">Hành động <small class="text-muted">(10)</small></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                {{#each categories}}
                                <a href="/books/category/{{_id}}" class="list-group-item list-group-item-action"> {{category_name}}  </a>
<!--                                <a href="#" class="list-group-item list-group-item-action"> Kinh tế </a>-->
<!--                                <a href="#" class="list-group-item list-group-item-action"> Manga - Comic </a>-->
<!--                                <a href="#" class="list-group-item list-group-item-action"> Thiếu nhi </a>-->
<!--                                <a href="#" class="list-group-item list-group-item-action"> Giáo dục</a>-->
<!--                                <a href="#" class="list-group-item list-group-item-action"> Trinh thám</a>-->
                                {{/each}}
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="paginate-center" id="pagination">
    <ul>
        {{#paginate pagination type="first"}}
            <li {{#if disabled}}class="li-paginate" {{/if}} style="float:left;"class="li-paginate" >
                {{!-- <a  href="?{{../query}}p={{n}}"><<</a> --}}
                 <a href="#"onclick="return pagination({{json n}})"><<</a>
            </li>
        {{/paginate}}
        {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="li-paginate" {{/if}}style="float:left;" class="li-paginate">
                {{!-- <a href="?{{../query}}p={{n}}"><</a> --}}
                <a  href="#"onclick="return pagination({{json n}})"><</a>
            </li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="5"}}
            <li {{#if active}} class=" activate" {{/if}} style="float:left;" class="li-paginate" >
                {{!-- <a href="?{{../query}}p={{n}}">{{n}}</a> --}}
                <a  href="#"onclick="return pagination({{json n}})">{{n}}</a>
            </li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="li-paginate"   {{/if}}style="float:left;" class="li-paginate">
                {{!-- <a href="?{{../query}}p={{n}}">> </a> --}}
                <a  href="#"onclick="return pagination({{json n}})">></a>
            </li>
        {{/paginate}}
        {{#paginate pagination type="last"}}
            <li {{#if disabled}}class="li-paginate"  {{/if}}style="float:left;"class="li-paginate">
                {{!-- <a  href="?{{../query}}p={{n}}">>></a> --}}
                <a  href="#" onclick="return pagination({{json n}})">>></a>
            </li>
        {{/paginate}}
    </ul>
</div>


<script type="text/x-handlebars-template" id="count-template">
  <div >
    <p>Showing all \{{count}} results</p>
 </div>
</script>

<script type="text/x-handlebars-template" id="product-list-template">
  <div class="product-categorie-box" >
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                      \{{#each books}}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img id="cover" src=\{{cover}} class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <a href="/books/detail/\{{_id}}">
                                                    <h4 class="link" >\{{title}}</h4>
                                                    </a>
                                                    <h5>\{{basePrice}}</h5>
                                                    <input type="hidden" id="detail" value="\{{detail}}">
                                                </div>
                                            </div>
                                          </div>
                                      \{{/each}}     
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                  \{{#each books}}
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src=\{{cover}} class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <a href="/books/detail/\{{_id}}">
                                                        <h4 class="link" >\{{title}}</h4>
                                                    </a>
                                                    <h5>\{{basePrice}}</h5>
                                                    <p>\{{detail}}</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  \{{/each}}
                                </div>
                            </div>
                        </div>

</script>



